.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;


  a {
    --color: #a0abca;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--color);
    padding: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
    text-transform: uppercase;

    @media (min-width: 768px) {
      &:hover {
        background-color: var(--color);
        color: #000;
      }
    }

    &:active {
      background-color: var(--color);
      color: #000;
    }
  }
}